
  body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
  }
  
  .logo_header {
    display: flex;
    align-items: center;
  }
  
  .logo_header img {
    height: 50px;
    display: block;
  }
  
  .menu_header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .menu_header ul li {
    display: flex;
    align-items: center;
  }
  
  .menu_header ul li a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  .menu_header ul li a i {
    font-size: 10px;
    margin-left: 4px;
  }
  
  .icons_header {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
  }
  
  .icons_header {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
  }
  
  .icons_header i {
    line-height: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
  
  .login-link {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-size: 16px; /* cân chỉnh với menu */
    line-height: 1;
  }